@keyframes bounceInUp 
  from,
  60%,
  75%,
  90%,
  to 
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  

  from 
    opacity: 0
    -webkit-transform: translate3d(0, 3000px, 0)
    transform: translate3d(0, 3000px, 0)
  

  60% 
    opacity: 1
    -webkit-transform: translate3d(0, -20px, 0)
    transform: translate3d(0, -20px, 0)
  

  75% 
    -webkit-transform: translate3d(0, 10px, 0)
    transform: translate3d(0, 10px, 0)
  

  90% 
    -webkit-transform: translate3d(0, -5px, 0)
    transform: translate3d(0, -5px, 0)
  

  to 
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  

@-webkit-keyframes fadeInDown 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, -100%, 0)
    transform: translate3d(0, -100%, 0)
  

  to 
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  



@keyframes slideInLeft 
  from 
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)
    visibility: hidden
  

  to 
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    visibility: visible
  


@-webkit-keyframes pulse 
  from 
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
  

  50% 
    -webkit-transform: scale3d(1.05, 1.05, 1.05)
    transform: scale3d(1.05, 1.05, 1.05)
  

  to 
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
